[buildout]
extends = http://dist.plone.org/release/4.3-latest/versions.cfg
find-links =
    http://dist.plone.org/release/4.3-latest/
    http://dist.plone.org/thirdparty/
extensions = mr.developer
sources-dir = extras
develop = .
parts =
    instance
    bower
    test
    robot
    coverage
    test-coverage
    code-analysis
#    sphinxbuilder
    templer

auto-checkout =
    plone.app.contenttypes
    plone.app.event

[versions]
zope.interface = 4.0.5
coverage = 3.7.1

# plone.app.contenttypes
#plone.app.contenttypes = 1.1b1
#plone.app.event = 1.1.1
plone.app.portlets = 2.5.1

# Robot Testing
plone.app.testing = 4.2.4
plone.app.robotframework = 0.8.5
robotsuite = 1.4.3
robotframework = 2.8.4
robotframework-selenium2library = 1.5.0
robotframework-debuglibrary = 0.3
sphinxcontrib-robotdoc = 0.7.2
sphinxcontrib-robotframework = 0.4.2
selenium = 2.43.0

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    plone.app.angularjs [test]

[bower]
recipe = collective.recipe.cmd
on_install = true
cmds = bower install  --config.interactive=false

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'plone.app.angularjs', '--auto-color', '--auto-progress']

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    ${buildout:directory}/bin/coverage run --source=${buildout:directory}/src/plone/app/angularjs bin/test
    ${buildout:directory}/bin/coverage report -m --fail-under=90
output = ${buildout:directory}/bin/test-coverage
mode = 755

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src
jshint = True
#jscs = True
#jscs-exclude = ${buildout:directory}/src/plone/app/angularjs/app/bower_components/*
flake8-exclude = ${buildout:directory}/src/plone/app/angularjs/app/bower_components/*
flake8-max-complexity = 15
#imports = True
#utf8-header = True

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs/source
build = ${buildout:directory}/docs

[templer]
recipe = zc.recipe.egg
eggs =
  PasteScript
  templer.core
  templer.buildout
  templer.plone
  templer.dexterity

[remotes]
# Plone
plone = git://github.com/plone
plone_push = git@github.com:plone

[sources]
plone.app.contenttypes = git ${remotes:plone}/plone.app.contenttypes.git pushurl=${remotes:plone_push}/plone.app.contenttypes.git branch=1.1.x
plone.app.dexterity = git ${remotes:plone}/plone.app.dexterity.git pushurl=${remotes:plone_push}/plone.app.dexterity.git branch=master
plone.app.event = git ${remotes:plone}/plone.app.event.git pushurl=${remotes:plone_push}/plone.app.event.git branch=1.1.x
plone.app.testing = git ${remotes:plone}/plone.app.testing.git pushurl=${remotes:plone_push}/plone.app.testing.git branch=4.2.x
plone.dexterity = git ${remotes:plone}/plone.dexterity.git pushurl=${remotes:plone_push}/plone.dexterity.git branch=master
