<div class="container">
  <div class="jumbotron">
    <h1>Contact Form</h1>
    <p>Fill out the form below to contact the site owners.</p>
  </div>
  <ol class="breadcrumb">
    <li><a href="front-page">Home</a></li>
    <!--<li ng-repeat="breadcrumb in path" class="active">{{breadcrumb}}</li>-->
  </ol>
  <div id="navigation-portlet-directive" navigation-portlet-directive></div>
  <div id="content">
    <form name="contactInfoForm"
          ng-controller="ContactInfoFormController"
          ng-submit="submit(contactInfoForm.$valid)">
      <div class="field">
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname" ng-model="form.fullname" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" ng-model="form.email" required />
      </div>
      <div class="field">
        <label for="address">Country</label>
        <ui-select ng-model="country.selected" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
          <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="country in countries | filter: $select.search">
            <span ng-bind-html="country.name | highlight: $select.search"></span>
            <small ng-bind-html="country.code | highlight: $select.search"></small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="field">
        <label for="text">Text</label>
        <textarea ui-tinymce ng-model="form.text" name="text" />
      </div>
      <nav class="actions">
        <input type="submit" value="Send" />
      </nav>
    </form>
  </div>
</div>
