<div class="container">
  <div class="jumbotron">
    <h1>Contact Form</h1>
    <p>Fill out the form below to contact the site owners.</p>
  </div>
  <ol class="breadcrumb">
    <li><a href="front-page">Home</a></li>
    <!--<li ng-repeat="breadcrumb in path" class="active">{{breadcrumb}}</li>-->
  </ol>
  <div id="navigation-portlet-directive" navigation-portlet-directive></div>
  <div id="content">
    <form name="contactInfoForm"
          ng-controller="ContactInfoFormController"
          ng-submit="submit(contactInfoForm.$valid)">
      <div class="field">
        <label for="fullname">Fullname</label>
        <input type="text" name="fullname" ng-model="form.fullname" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" ng-model="form.email" required />
      </div>
      <div class="field">
        <label for="text">Text</label>
        <textarea ng-model="form.text" name="text" required />
      </div>
      <nav class="actions">
        <input type="submit" value="Send" />
      </nav>
    </form>
  </div>
</div>
