<!--<ul id="portlet-navigation-directive" class="nav nav-pills nav-stacked">
  <li ng-repeat="item in items"
      ng-class="{active: activeItem == item.url.slice(1)}">
    <a ng-href="{{item.url}}">{{item.title}}</a>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="child in item.children"
          ng-class="{active: activeItem == child.url.slice(1)}">
        <a ng-href="{{child.url}}">{{child.title}}</a>
      </li>
    </ul>
  </li>
</ul>-->
<div id="portlet-navigation-directive" class="nav nav-pills nav-stacked">
  <div ng-controller="NavigationPortletController">
    <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="0"></abn-tree>
    <div style="width: 100%" class="alert alert-warning">{{ output }}</div>
  </div>
</div>
